extends ../_layouts/admin.layout.pug

block content
  main.Content
      section.Content__QuickAccess
        .Content__Title
          h1 Quick Access
        .QuickAccess__Blocks
          .QuickAccess__Block
            .QuckAccess__BlockTitle.h_quickBlock01
              h2 Hosting Provider
            .QuickAccess__BlockContent
              .QuickAccess__BlockLogo
                img(src="img/logo_vultr.png")
              .QuickAccess__BlockText
                p Vultr
                a(href="") Go to website
          .QuickAccess__Block
              .QuckAccess__BlockTitle.h_quickBlock02
                h2 Domain Provider
              .QuickAccess__BlockContent
                .QuickAccess__BlockLogo
                  img(src="img/logo_namecheap.png")
                .QuickAccess__BlockText
                  p Vultr
                  a(href="") Go to website
          .QuickAccess__Block
              .QuckAccess__BlockTitle.h_quickBlock03
                h2 Drive Folder
              .QuickAccess__BlockContent
                .QuickAccess__BlockLogo
                  img(src="img/logo_googledrive.png")
                .QuickAccess__BlockText
                  p Vultr
                  a(href="") Go to website
      section.Content__ToDo
        .Content__Title
          h1 To Do List 
        .ToDo__Wrap
          .ToDo__Input
            input(type="text" name="txtTask" placeholder="Add new task")
          ul.ToDo__List
            li.ToDo__Element
              p Ir al water
            li.ToDo__Element
              p Ir al water
            li.ToDo__Element
              p Ir al water