<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="robots", content="noindex, nofollow")
        title #{locals.site.title} - Site Login
        script(src="https://code.jquery.com/jquery-3.3.1.min.js", integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=", crossorigin="anonymous")
        link(href="https://fonts.googleapis.com/css?family=Quicksand:400,700", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:400,700", rel="stylesheet")
        link(href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css", rel="stylesheet")
        script(src='//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js')
        link(rel="stylesheet", href="assets/admin.css")
        script(src="assets/login.js")

    body.Login__Body
        .w_Login__Header
            header.Login__Header
                h1.Login__Logo--text <span class="h_LogoText">supernova</span><span class="h_LogoTextLight">CMS</span>
        section.Login__Block
            .Login__Avatar
                img(src="img/bullet-club.jpg")
            if locals.errors.login
                    .Login__Error
                        p #{locals.errors.login}
                        #{ locals.errors.login = null }
            form.Login__Form(action="/login", method="POST" id="formLogin")
                .Login__FormElement
                    label.Login__FormLabel(for="txtEmail") Email
                    input.Login__FormInput(type="text", name="txtEmail" id="txtEmail")
                .Login__FormElement
                    label.Login__FormLabel(for="txtPassword") Password
                    input.Login__FormInput(type="password", name="txtPassword" id="txtPassword")
                .Login__FormElement
                    button.Login__Submit#loginBtn(type="submit") Login
                