extends ../_layouts/admin.layout.pug

block content
    main.Content
        section.w_PageManager
            .Content__Title
                h1 Page Manager
            .PageManager__Options
                .PageManager__Filter
                    .FormElement
                        input.FormInput(placeholder="Filter Pages by title")
                .PageManager__AddNew
                    button.Btn__AddNew <i class="fa fa-plus"></i> Add New Page
            .PageManager__TableWrapper
                table.PageManager__Table
                    thead.PageManager__Thead
                        td.h_titleTable Title
                        td Date Published
                        td Last Update
                        td Actions
                    tbody.PageManager__Tbody
                        tr
                            td 
                                a(href="#") Sopa do Macaco, uma delicia
                            td 2018-04-01
                            td 2018-04-01
                            td 
                                button.Btn__Delete Delete
                        tr
                            td 
                                a(href="#") Soy un segundo título que contiene cosas geniales y la verdad es que quiero ver el grosor que alcanza esto, la verdad es que es mucho
                            td 2018-04-01
                            td 2018-04-01
                            td 
                                button.Btn__Delete Delete
                        tr
                            td 
                                a(href="#") Soy un segundo título que contiene cosas geniales y la verdad es que quiero ver el grosor que alcanza esto, la verdad es que es mucho
                            td 2018-04-01
                            td 2018-04-01
                            td 
                                button.Btn__Delete Delete
                        tr
                            td 
                                a(href="#") Soy un segundo título que contiene cosas geniales y la verdad es que quiero ver el grosor que alcanza esto, la verdad es que es mucho
                            td 2018-04-01
                            td 2018-04-01
                            td 
                                button.Btn__Delete Delete
            .PageManager__PaginationWrapper
                .PageManager__Pagination
                    .Btn__Prev <i class="fa fa-chevron-left"></i> Prev
                    .Btn__Next <i class="fa fa-chevron-right"></i> Next