div.w_Sidebar
    aside.Sidebar
        section.Sidebar__Logo
            h1.Sidebar__Logo--text <span class="h_LogoText">Supernova</span><span class="h_LogoTextLight">CMS</span>
        section.Sidebar__Profile
            .Profile__Avatar
                img(src="/bullet-club.jpg")
            .Profile__Username
                p.h_userName
            .Profile__LogoutBtn
                a(href="/logout") Logout