div.w_Sidebar
    aside.Sidebar
        section.Sidebar__Logo
            h1.Sidebar__Logo--text <span class="h_LogoText">Supernova</span><span class="h_LogoTextLight">CMS</span>
        section.Sidebar__Profile
            .Profile__Avatar
                img(src="/bullet-club.jpg")
            .Profile__Username
                p.h_userName
            .Profile__LogoutBtn
                a(href="/logout") Logout
        nav.Sidebar__Menu
            ul.Sidebar__List
                li.Sidebar__Element
                    a.Sidebar__LinkElement(href="/admin") <i class="fas fa-home"></i> Dashboard
                li.Sidebar__Element
                    a.Sidebar__LinkElement(href="/admin/page_manager") <i class="fas fa-pen"></i> Pages
                    ul.Sidebar__Submenu
                        li.Sidebar__SubmenuElement
                            a.Sidebar__SubmenuLink(href="/admin/add_page") Add New Page
                        li.Sidebar__SubmenuElement
                            a.Sidebar__SubmenuLink(href="/admin/page_manager") Page Manager
                li.Sidebar__Element
                    a.Sidebar__LinkElement(href="/admin/site_options") <i class="fas fa-cog"></i> General Options
                    ul.Sidebar__Submenu
                        li.Sidebar__SubmenuElement
                            a.Sidebar__SubmenuLink(href="/admin/site_options") Site Options
                        li.Sidebar__SubmenuElement
                            a.Sidebar__SubmenuLink(href="/admin/server_options") Server Options
                li.Sidebar__Element
                    a.Sidebar__LinkElement(href="/admin/media_manager") <i class="fas fa-cloud-upload-alt"></i> Media
                    ul.Sidebar__Submenu
                        li.Sidebar__SubmenuElement
                            a.Sidebar__SubmenuLink(href="/admin/media_add") Add Files
                        li.Sidebar__SubmenuElement
                            a.Sidebar__SubmenuLink(href="/admin/media_manager") File manager