// Variables
$max-width: 1600px;
// Flex metering
$sidebar-width: 3;
$content-width: 12;
// Colors
$dark-1: #1C2324;
$dark-2: #151515;
$orange: #D86D1A;
$blue-1: #376F77;
$green-1: #33884F;
$green-2: #84B795;
$red-1: #883336;
// Font-family
$font-1: 'Open Sans', serif;
$font-2: 'Quicksand', serif;

// Max-width content
%content_wrapper {
    max-width: $max-width;
    margin: 0 auto;
}

%form_input {
    background: white;
    border-radius: 10px;
    border: 0;
    box-shadow: 0 3px 6px rgba(black, .16);
    color: $dark-1;
    font-size: 18px;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
}

%btn_format {
    background: $blue-1; 
    border-radius: 10px;
    border: 0;
    box-shadow: 0 3px 6px rgba(black, .16);    
    cursor: pointer;
    font-size: 20px;
    color: white;
    display: inline-block;
    margin: 10px 0;
    padding: 10px;
}

%transition {
    transition: .15s ease-in;
}

// Common data
.Btn {
    background: black;
    border: 0;
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(black, .19);
    cursor: pointer;
    color: white;
    display: inline-block;
    font-size: 18px;
    margin: 7px 0;
    padding: 10px 0;
    text-shadow: 2px 2px 2px rgba(black, .3);
}

.FormElement {
    width: 100%;
    margin: 0 auto;
}
.FormLabel {
    color: #376F77;
    font-size: 20px;
    display: block;
    margin: 10px auto;
    width: 90%;
}
.FormDescription {
    font-size: 14px;
    color: #888888;
    width: 90%;
    margin: 3px auto;
}
.FormInput {
    display: block;
    border-radius: 10px;
    width: 90%;
    background: white;
    border: 0;
    margin: 10px auto;
    box-shadow: 0 3px 6px rgba(black, .19);
    padding: 10px;
    font-size: 20px;
}

// Helpers 
.h_30pxSeparator {
    margin-bottom: 30px;
    margin-top: 30px;
}