@import "reset";
@import "mixins";

body {
    background: #1C2324;
    font-size: 40px;
    font-family: $font-1;
    font-size: 16px;
}

.Container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
.w_Content {
    align-content: flex-start;
    background: #DDE7E8;
    display: flex;
    flex: $content-width;
    flex-wrap: wrap;
    min-height: 100vh;
}

@import "admin/sidebar";
@import "admin/header";
@import "admin/content";
@import "admin/footer";
@import "admin/login";
@import "admin/addPage";
@import "admin/pageManager";
@import "admin/siteOptions";


