html, body, button, input, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important; }

.Login__FormInput {
  background: white;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #1C2324;
  font-size: 18px;
  margin: 10px auto;
  padding: 10px;
  width: 100%; }

.Login__Submit {
  background: #376F77;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  font-size: 20px;
  color: white;
  display: inline-block;
  margin: 10px 0;
  padding: 10px; }

.Login__Submit {
  transition: .15s ease-in; }

.Btn, .Btn__Publish, .Btn__Draft, .Btn__AddNew, .Btn__Delete, .Btn__Prev, .Btn__Next, .SiteOptions__SaveButton {
  background: black;
  border: 0;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
  cursor: pointer;
  color: white;
  display: inline-block;
  font-size: 18px;
  margin: 7px 0;
  padding: 10px 0;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3); }

.FormElement {
  width: 100%;
  margin: 0 auto; }

.FormLabel {
  color: #376F77;
  font-size: 20px;
  display: block;
  margin: 10px auto;
  width: 90%; }

.FormDescription {
  font-size: 14px;
  color: #888888;
  width: 90%;
  margin: 3px auto; }

.FormInput, .AddPage__PublishBlock, .AddPage__CheckboxBlock, .AddPage__Input, .PageManager__Pagination {
  display: block;
  border-radius: 10px;
  width: 90%;
  background: white;
  border: 0;
  margin: 10px auto;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.19);
  padding: 10px;
  font-size: 20px; }

.h_30pxSeparator {
  margin-bottom: 30px;
  margin-top: 30px; }

body {
  background: #1C2324;
  font-size: 40px;
  font-family: "Open Sans", serif;
  font-size: 16px; }

.Container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.w_Content {
  align-content: flex-start;
  background: #DDE7E8;
  display: flex;
  flex: 12;
  flex-wrap: wrap;
  min-height: 100vh; }

.w_Sidebar {
  background: #1C2324;
  flex: 3;
  font-family: "Quicksand", serif;
  height: 100vh;
  overflow-y: scroll; }

.w_Sidebar::-webkit-scrollbar {
  width: 12px; }

.w_Sidebar::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.1);
  border-radius: 10px; }

.w_Sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05); }

.Sidebar {
  color: white; }

.Sidebar__Logo--text {
  font-size: 32px;
  padding: 20px 0;
  text-align: center; }

.Sidebar__Profile {
  background: #151515;
  padding: 20px 0;
  text-align: center;
  width: 100%; }

.Profile__Avatar {
  width: 100%; }
  .Profile__Avatar img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    max-width: 100%;
    width: 150px; }

.Profile__Username {
  color: #D86D1A;
  font-size: 25px;
  padding: 10px 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  width: 80%;
  margin: 0 auto; }

.Profile__LogoutBtn {
  padding: 20px 0; }
  .Profile__LogoutBtn a {
    color: white;
    display: block;
    text-decoration: none; }

.Sidebar__Menu {
  padding-bottom: 50px;
  width: 100%; }

.Sidebar__List {
  width: 100%; }

.Sidebar__Element {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  display: block;
  width: 100%; }
  .Sidebar__Element i {
    color: #D86D1A;
    font-size: 18px;
    padding-right: 5px; }

.Sidebar__LinkElement {
  color: white;
  display: block;
  margin: 15px auto;
  font-size: 15px;
  text-decoration: none;
  width: 90%; }

.Sidebar__Submenu {
  margin: 0; }

.Sidebar__SubmenuElement {
  padding: 10px 0;
  background: rgba(0, 0, 0, 0.24);
  width: 100%;
  padding: 0;
  margin: 0; }
  .Sidebar__SubmenuElement:nth-last-child(1) .Sidebar__SubmenuLink {
    border-bottom: 1px solid rgba(255, 255, 255, 0); }

.Sidebar__SubmenuLink {
  color: white;
  display: block;
  font-size: 14px;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.09); }

.h_LogoText {
  color: #D86D1A; }

.h_LogoTextLight {
  color: white;
  font-weight: bold; }

.AdminHeader {
  align-items: center;
  background: #151515;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px 20px;
  width: 100%; }

.AdminHeader__MenuBars {
  font-size: 32px; }

.Content {
  min-height: 80vh;
  width: 100%; }

.Content__Title {
  margin: 20px;
  font-size: 32px;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.QuickAccess__Blocks {
  display: flex; }

.QuickAccess__Block {
  background: white;
  border-radius: 10px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin: 0 15px;
  padding: 0;
  overflow: hidden;
  width: 32%; }

.QuckAccess__BlockTitle {
  padding: 20px 0; }
  .QuckAccess__BlockTitle h2 {
    text-align: center;
    color: white;
    font-size: 22px; }

.QuickAccess__BlockContent {
  text-align: center;
  padding: 20px 0; }
  .QuickAccess__BlockContent img {
    max-width: 80%;
    margin: 0 auto;
    max-height: 80px; }

.QuickAccess__BlockText {
  color: #376F77;
  font-weight: bold;
  padding: 10px; }
  .QuickAccess__BlockText a {
    color: #376F77;
    display: block;
    padding: 5px 0;
    text-decoration: none; }

.h_quickBlock01 {
  background: linear-gradient(to right, #99b049 0%, #437f83 100%); }

.h_quickBlock02 {
  background: linear-gradient(to right, #2193B0 0%, #6DD5ED 100%); }

.h_quickBlock03 {
  background: linear-gradient(to right, #493240 0%, #FF0099 100%); }

.Content__ToDo {
  padding: 20px 0; }

.ToDo__Wrap {
  padding: 10px 20px; }

.ToDo__Input {
  padding: 10px 0 20px 0; }
  .ToDo__Input input {
    border-radius: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    padding: 10px;
    width: 100%; }

.ToDo__List {
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); }

.ToDo__Element {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.w_Footer {
  flex: 12; }

.Footer {
  background: #C5CDCE;
  padding: 20px 0;
  margin-top: 50px; }

.w_Login__Header {
  background: #151515;
  text-align: center;
  width: 100%; }

.Login__Header {
  padding: 20px 0; }

.Login__Logo--text {
  font-size: 32px; }

.Login__Block {
  background: #151515;
  margin: 60px auto;
  max-width: 480px;
  padding: 40px 0;
  text-align: center;
  width: 100%; }

.Login__Avatar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 0;
  margin: 0 auto;
  width: 90%; }
  .Login__Avatar img {
    max-width: 150px;
    border-radius: 50%; }

.Login__Form {
  display: block;
  padding: 20px 0; }

.Login__FormLabel {
  display: block;
  color: #D86D1A;
  font-size: 14px;
  text-align: left;
  margin: 5px 0;
  width: 90%; }

.Login__FormElement {
  text-align: center;
  margin: 0 auto;
  width: 90%; }

.Login__Submit {
  padding: 15px 40px;
  width: 100%;
  max-width: 50%; }
  .Login__Submit:hover {
    background: #2f5f66; }

.Login__Error {
  background: #883336;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  margin: 10px auto;
  padding: 10px;
  width: 80%; }

.w_AddPage__Separator {
  display: flex;
  flex-wrap: wrap; }

.AddPage__LeftContent {
  padding: 20px;
  flex: 3; }

.AddPage__RightContent {
  width: 20%;
  padding-right: 60px;
  padding-top: 20px;
  flex: 1; }

.AddPage__PublishBlock, .AddPage__CheckboxBlock {
  width: 100%;
  padding: 20px; }

.Btn__Publish {
  width: 90%;
  background: #33884F; }

.Btn__Draft {
  width: 90%;
  background: #84B795; }

.AddPage__Textarea {
  min-height: 500px;
  resize: none; }

.AddPage__Input {
  width: 100%; }

.Editor__Wrapper {
  width: 90%;
  margin: 0 auto;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  height: 600px; }

#editor {
  position: absolute;
  width: 100%;
  height: 600px; }

.AddMediaBlock {
  align-items: center;
  background: white;
  border-radius: 10px;
  cursor: pointer;
  border: 3px dashed #0087F7;
  display: flex;
  margin: 20px auto;
  padding: 40px 20px;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  width: 90%; }

.AddMedia__Description {
  padding: 10px;
  margin: 0 auto;
  width: 90%; }

.dz-preview {
  width: 30%; }

.dz-filename {
  padding: 10px;
  word-break: break-all; }

.dz-success-mark {
  display: none; }

.dz-error-mark {
  display: none; }

.w_PageManager {
  width: 100%; }

.PageManager__Options {
  display: flex; }

.PageManager__Filter {
  width: 80%; }

.PageManager__AddNew {
  margin: 0 auto;
  width: 20%; }

.Btn__AddNew {
  background: #376F77;
  padding: 15px 0;
  width: 80%; }

.PageManager__TableWrapper {
  margin: 10px auto;
  width: 90%; }

.PageManager__Table {
  border-radius: 10px;
  overflow: hidden;
  width: 100%; }

.PageManager__Thead td {
  background: #33884F;
  color: white;
  font-weight: bold;
  padding: 20px 10px;
  vertical-align: middle; }

.PageManager__Tbody tr td {
  background: white;
  border-right: 1px solid rgba(0, 0, 0, 0.03);
  color: #151515;
  padding: 10px;
  vertical-align: middle; }
  .PageManager__Tbody tr td a {
    color: #376F77;
    font-weight: bold;
    text-decoration: none; }

.PageManager__Tbody tr:nth-child(even) td {
  background: #E6F9EC; }

.h_titleTable {
  min-width: 350px; }

.Btn__Delete {
  background: #883336;
  padding: 10px; }

.PageManager__PaginationWrapper {
  width: 100%; }

.PageManager__Pagination {
  margin: 0 auto;
  text-align: center;
  width: 90%; }

.Btn__Prev {
  background: #376F77;
  margin: 0 10px;
  padding: 10px 15px; }

.Btn__Next {
  background: #376F77;
  margin: 0 10px;
  padding: 10px 15px; }

.w_SiteOptions {
  width: 100%; }

.SiteOptions__Form {
  width: 100%; }

.SiteOptions__Subtitle {
  color: #767D7E;
  font-size: 25px;
  margin: 0 auto;
  padding: 30px 0;
  width: 90%; }

.SiteOptions__w_SaveButton {
  text-align: center;
  width: 100%; }

.SiteOptions__SaveButton {
  background: #376F77;
  margin: 30px auto;
  padding: 15px 25px; }

.h_warn {
  color: #883336;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 0; }

.MediaManager {
  width: 100%; }

.MediaManager__FileList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px auto;
  width: 90%; }

.MediaManager__File {
  background: white;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 10px;
  width: 20%; }

.MediaManager__FileImage {
  text-align: center; }
  .MediaManager__FileImage img {
    max-width: 80%;
    min-height: 100px; }

.MediaManager__FileName {
  padding: 10px 0;
  text-align: center;
  word-wrap: break-word; }

.MediaManager__Delete {
  text-align: center;
  color: #883336;
  font-size: 12px;
  font-weight: bold; }
  .MediaManager__Delete a {
    color: #883336; }
