html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
  box-sizing: border-box; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important; }

.Login__FormInput {
  background: white;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #1C2324;
  font-size: 18px;
  margin: 10px auto;
  padding: 10px;
  width: 100%; }

.Login__Submit {
  background: #376F77;
  border-radius: 10px;
  border: 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  font-size: 20px;
  color: white;
  display: inline-block;
  margin: 10px 0;
  padding: 10px; }

.Login__Submit {
  transition: .15s ease-in; }

body {
  background: #1C2324;
  font-size: 40px;
  font-family: "Open Sans", serif;
  font-size: 16px; }

.Container {
  display: flex;
  flex-wrap: wrap;
  width: 100%; }

.w_Content {
  align-content: space-between;
  background: #DDE7E8;
  display: flex;
  flex: 12;
  flex-wrap: wrap;
  min-height: 100vh; }

.w_Sidebar {
  background: #1C2324;
  flex: 3;
  font-family: "Quicksand", serif;
  min-height: 100vh; }

.Sidebar {
  color: white; }

.Sidebar__Logo--text {
  font-size: 32px;
  padding: 20px 0;
  text-align: center; }

.Sidebar__Profile {
  background: #151515;
  padding: 20px 0;
  text-align: center;
  width: 100%; }

.Profile__Avatar {
  width: 100%; }
  .Profile__Avatar img {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    border-radius: 50%;
    max-width: 100%;
    width: 150px; }

.Profile__Username {
  color: #D86D1A;
  font-size: 25px;
  padding: 10px 0 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  width: 80%;
  margin: 0 auto; }

.Profile__LogoutBtn {
  padding: 20px 0; }
  .Profile__LogoutBtn a {
    color: white;
    display: block;
    text-decoration: none; }

.h_LogoText {
  color: #D86D1A; }

.h_LogoTextLight {
  color: white;
  font-weight: bold; }

.Content {
  width: 100%; }

.w_Footer {
  flex: 12; }

.Footer {
  background: red; }

.w_Login__Header {
  background: #151515;
  text-align: center;
  width: 100%; }

.Login__Header {
  padding: 20px 0; }

.Login__Logo--text {
  font-size: 32px; }

.Login__Block {
  background: #151515;
  margin: 60px auto;
  max-width: 480px;
  padding: 40px 0;
  text-align: center;
  width: 100%; }

.Login__Avatar {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px 0;
  margin: 0 auto;
  width: 90%; }
  .Login__Avatar img {
    max-width: 150px;
    border-radius: 50%; }

.Login__Form {
  display: block;
  padding: 20px 0; }

.Login__FormLabel {
  display: block;
  color: #D86D1A;
  font-size: 14px;
  text-align: left;
  margin: 5px 0;
  width: 90%; }

.Login__FormElement {
  text-align: center;
  margin: 0 auto;
  width: 90%; }

.Login__Submit {
  padding: 15px 40px;
  width: 100%;
  max-width: 50%; }
  .Login__Submit:hover {
    background: #2f5f66; }
