.AdminHeader {
    align-items: center;
    background: $dark-2;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px 20px;
    width: 100%;
}
.AdminHeader__MenuBars {
    font-size: 32px;
}
.AdminHeader__Title {

}