.w_Sidebar {   
    background: $dark-1;
    flex: $sidebar-width;
    font-family: $font-2;
    height: 100vh;
    overflow-y: scroll;
}
.w_Sidebar::-webkit-scrollbar {
    width: 12px;
}

.w_Sidebar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(white,0.1); 
    border-radius: 10px;
}
.w_Sidebar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 2px rgba(white,0.05); 
}
.Sidebar {
    color: white;
}
.Sidebar__Logo {

}
.Sidebar__Logo--text {
    font-size: 32px;
    padding: 20px 0;
    text-align: center;
}

.Sidebar__Profile { 
    background: #151515;
    padding: 20px 0;
    text-align: center;
    width: 100%;
}
.Profile__Avatar { 
    width: 100%;
    img {
        box-shadow: 0 3px 6px rgba(black, .16);
        border-radius: 50%;
        max-width: 100%;
        width: 150px;
    }
}
.Profile__Username { 
    color: $orange;
    font-size: 25px;
    padding: 10px 0 20px;
    border-bottom: 1px solid rgba(white,.08);
    width: 80%;
    margin: 0 auto;
}
.Profile__LogoutBtn { 
    padding: 20px 0;
    a {
        color: white;
        display: block;
        text-decoration: none;
    }

}

.Sidebar__Menu {
    padding-bottom: 50px;
    width: 100%;
}
.Sidebar__List {
    width: 100%;
}
.Sidebar__Element {
    border-bottom: 1px solid rgba(white,.05);
    display: block;
    
    width: 100%;
    i {
        color: $orange;
        font-size: 18px;
        padding-right: 5px;
    }
}
.Sidebar__LinkElement {
    color: white;
    display: block;
    margin: 15px auto;
    font-size: 15px;
    text-decoration: none;
    width: 90%;
}
.Sidebar__Submenu {
    margin: 0;

}
.Sidebar__SubmenuElement {
    padding: 10px 0;
    background: rgba(black, .24);
    width: 100%;
    padding: 0;
    margin: 0;
    &:nth-last-child(1) .Sidebar__SubmenuLink {
        border-bottom: 1px solid rgba(white, 0);
    }
}
.Sidebar__SubmenuLink {
    color: white;
    display: block;
    font-size: 14px;
    padding: 10px;
    text-decoration: none;
    border-bottom: 1px solid rgba(white,.09);
    
}

// Helpers
.h_LogoText {
    color: $orange;
}
.h_LogoTextLight {
    color: white;
    font-weight: bold;
}